<style>
    @font-face {
        font-family: strange;
        src: url(../images/strange.ttf);
    }

    body {
        background: url("../images/bubbles.jpg");
        background: cover;
    }

    h1 {
        font-family: strange;
        color: goldenrod;
        text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
        font-size: 68px;
    }

    h2 {
        font-family: strange;
        color: goldenrod;
        text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;

    }

    #colors {
        z-index: -1;
        position: absolute;
        margin-left: -170px;
        width: 100vw;
    }

    .storyBox {
        margin-top: 50px;
        width: 50%;
        height: 610px;
        overflow: auto;
        float: left;
        text-align: center;
        background-color: rgba(255, 244, 236, 0.5);
    }

    .articleTitle:hover {
        cursor: pointer;
    }

    .articleSummary {
        margin-left: 50px;
    }

    .notes {
        margin-top: 20px;
        width: 50%;
        float: right;
        padding: 10px 80px 80px 80px;
    }

    #theNotes {
        width: 100%;
    }

    .thisArticleTitle {
        text-align: center;
        color: goldenrod;
        text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    }

    .seePrevious {
        background-color: rgba(255, 244, 236, 0.5);
        width: 100%;
        height: 380px;
        overflow: auto;
    }

    #noteTitle {
        padding-left: 10px;
        border-radius: 5px;
    }

    #noteBody {
        width: 100%;
        padding: 3px;
        height: 90px;
        border-radius: 5px;
    }

    .seePrevious {
        padding: 5px 20px 0px 20px;
    }

    #editNote {
        margin-top: 5px;
        float: left;
        padding: 3px;
    }
    #saveNoteChanges {
        margin-top: 5px;
        float: left;
        padding: 3px;
        outline: none;
    }
    #deleteNote {
        margin-top: 5px;
        float: right;
        padding: 3px;
    }
    .textTitle {
        width: 100%;
        background: none;
    }
    .textBody {
        width: 100%;
        background: none;
    }
    @media only screen and (max-width: 700px) {
    h1 {
        font-size: 40px;
    }
    .storyBox {
        float:none;
        width: 100%;
        height: 200px;
    }
    .notes {
        float: none;
        width: 100%;
        padding: 0;
    }
    h3 {
        font-size: 20px;
    }
}

</style>
<div class="container">
    <h1 style="text-align: center;">RIPLELY'S... BELIVE IT OR NOT NEWS!</h1>
    <div class="storyBox">
        {{#each article}}
        <br>
        <h3 class="articleTitle" data-id='{{this.id}}' data-title='{{this.title}}'>{{this.title}}</h3>
        <p class="articleSummary">{{this.summary}}</p>
        <a href="{{this.url}}" target="_blank"><button class="btn btn-warning" style="margin-bottom: 10px;">Visit
                Article</button></a>
        {{/each}}
    </div>
    <div class="notes">
    </div>
</div>